# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Testing
coverage
.nyc_output

# Misc
*.md
!README.md
.env
.env.local
.env.*.local
